<div class="landing-page">
  <header>
    <h1>¡Bienvenido! al Sistema de Generación de Preguntas</h1>
    <p>Genera fácilmente preguntas de alta calidad para diversos propósitos con mi herramienta avanzada.</p>
    <a href="/register" class="cta-button">Comenzar</a>
  </header>

  <div class="features">
    <h2>Tecnologías Modernas</h2>
    
    <div class="feature-list">
      <div class="feature">
        <h3>Integración con TensorFlow</h3>
        <p>Aprovecha las potentes capacidades de aprendizaje automático de TensorFlow para la generación precisa de preguntas.</p>
      </div>
      <div class="feature">
        <h3>Procesamiento de Lenguaje Natural (PLN)</h3>
        <p>Utiliza técnicas avanzadas de PLN para entender y generar preguntas a partir de texto de manera efectiva.</p>
      </div>
      <div class="feature">
        <h3>Algoritmos impulsados por IA</h3>
        <p>Benefíciate de nuestros algoritmos de IA que mejoran la calidad y relevancia de las preguntas generadas.</p>
      <div></div>

       
  </div>

</div>
