<!-- footer.component.html -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Contact Details</h5>
        <p class="grey-text text-lighten-4">
          Address: 123 Main Street, City<br>
          Phone: (123) 456-7890<br>
          <!-- Email: info@example.com -->
        </p>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Login Details</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/login">Login</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/register">Register</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Follow Us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://facebook.com">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="https://instagram.com">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2024 Question Generator
    </div>
  </div>
</footer>
