.page-footer {
    background-color: #3f51b5;
    padding: 20px 0;
    color: white;
  }
  
  .page-footer .container {
    width: 85%;
  }
  
  .page-footer .white-text {
    font-weight: 500;
  }
  