<div class="about-us-container">
    <header class="about-us-header">
      <h1>Sobre Nosotros</h1>
      <p>¡Bienvenido al Sistema de Generación de Preguntas! <br>Mi plataforma aprovecha tecnologías de vanguardia para generar preguntas perspicaces para una variedad de aplicaciones.</p>
    </header>
  
    <section class="technologies">
      <h2>Tecnologías que Utilizo</h2>
      <div class="technology">
        <h3>TensorFlow</h3>
        <p>TensorFlow es una plataforma de código abierto para el aprendizaje automático. Nos permite construir y entrenar modelos sofisticados de redes neuronales para mejorar la precisión y relevancia de nuestro sistema de generación de preguntas.</p>
      </div>
      <div class="technology">
        <h3>Procesamiento de Lenguaje Natural (PLN)</h3>
        <p>El PLN nos permite entender y generar lenguaje humano de manera significativa. A través de técnicas avanzadas de PLN, nuestro sistema puede comprender la entrada textual y producir preguntas contextualmente precisas.</p>
      </div>
      <div class="technology">
        <h3>Inteligencia Artificial (IA)</h3>
        <p>La IA impulsa las características inteligentes de nuestro sistema, incluida la generación y el análisis de preguntas. Al emplear algoritmos de IA, aseguramos que nuestra plataforma ofrezca preguntas de alta calidad y relevancia adaptadas a las necesidades del usuario.</p>
      </div>
      <div class="technology">
        <h3>Aprendizaje Automático (AA)</h3>
        <p>Los algoritmos de Aprendizaje Automático están en el corazón de la capacidad de nuestro sistema para aprender de los datos y mejorar con el tiempo. El AA nos ayuda a perfeccionar nuestros modelos de generación de preguntas para alinearse mejor con las expectativas de los usuarios y las tendencias emergentes.</p>
      </div>
    </section>
  
    <section class="team">
      <h2>Nuestro Equipo</h2>
      <p>Soy un profesional apasionado dedicado a avanzar en el campo de la Inteligencia Artificial y el aprendizaje automático. 
        <br>Mi experiencia abarca el aprendizaje automático, el procesamiento de lenguaje natural y la inteligencia artificial para brindarte el mejor servicio posible.</p>
    </section>
</div>
